{% extends "base.html" %}

{% block content %}
    <h1>Welcome</h1>
    <p>CreeperCraft is a little survival server on the Bedrock version of Minecraft, to join you need to put in <span class="font-mono">creepercraft.online</span> as the IP address and be whitelisted by one of us :)</p>
    <h1>Mods</h1>
    <p>Due to <a href="/notes#plugins">limitations</a> in the Bedrock edition of Minecraft, this server will be vanilla. It would be nice to have a few <i>minor</i> plugins installed on the server but it will be fully vanilla for the time being!</p>
    <h1>Hardware</h1>
    <p>Right now it will be ran off of a DigitalOcean droplet with about 4GB of RAM, a decent CPU, and some storage. This will be enough to support like 5 players with no issues at all, 10 players will probs the the happy limit. In the future I'll buy a mini-pc which will be way better than a Raspberry Pi so we should be good for power.</p>
{% endblock %}